
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 37px;
   
}
header h1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    font-size: 37px;
    color: white;
    border: 1px solid white;
}
header nav ul {
    display: flex;
    font-size: 26px;
    flex-wrap: wrap;
    list-style: none;
    
}
header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
}
header nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 10px;
}

@media screen and (max-width: 575px) {
    header h1 {
       margin: 25px;
       padding: 9px 20px;
       width: 100%;
       font-size: 30px;
    }
    header nav ul li a{
        font-size: 14px;
        padding: 0 5px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 5px;
        margin: 0px 3px;
       
    }
}
