
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 37px;
    background-image: url("../images/dice.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 90%;
   
}
header h1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    font-size: 37px;
    color: white;
    border: 1px solid white;
}
header nav ul {
    display: flex;
    padding: 4px;
    font-size: 1.35vw;
    flex-wrap: wrap;
    list-style: none;

    
}
header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    
}
header nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 10px;  
} 

/* hero section*/
.hero {
    background-image: url("../images/dice.jpg");
   height: 500px;
   background-size: cover;
   margin-bottom: 12px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
   background-attachment: fixed;
   background-position: 90%;
}
.hero-title {

    border: 1px solid white;
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    font-size: 23px;
    text-align: left;
    margin: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
    font-style: italic;
}

/* "About Me" section */
.bw-h2 {
        font-size: 30px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
        width: 10%;
        margin: 30px 0px;
        border-radius: 0px 10px 10px 0px;
}
.about-me p {
    display: flex;
    margin: 0px 40px;
    font-size: 20px;
    justify-content: left;
}

/* "Work" section */
.projects {
    display: flex;
    justify-content: space-around;
    margin: 200px auto;
    width: 75%;
}

.top-project {
    display: flex;
    justify-content: center;
    margin: 200px 0px;
}

/* "Contact Me" section */
.contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0px;
    width: 100%;
}

.phone img {
   display:flex ;
}
.phone h4 {
    font-size: 30px;
}

.email-icon {
   display: flex;
}

/* Different screen sizes */
@media screen and (max-width: 980px) {

    /* Header */ 
    header h1 {
        font-size: 25px ;
        padding: 10px 20px;
        margin-right: 1px;
    }
    header nav ul {
        margin: 10px ;
    }

}

@media screen and (max-width: 768px) {

    /* Header adjustments */
    header h1 {
        margin: 20px auto;
        padding: 15px 20px;
        width: 35%;
        font-size: 36px;
    }
    header nav ul li a{
        font-size: 19px;
        padding: 0 30px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 5px;
        margin: 0px 14px;
    }
}
@media screen and (max-width: 575px) {

    /* Header adjustments */
    header h1 {
       margin: 25px;
       padding: 9px 20px;
       width: 100%;
       font-size: 30px;
       border: 1px black solid;
    }
    header nav ul li a{
        font-size: 12px;
        padding: 0 5px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 5px;
        margin: 0px 3px;
    }
}
