
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 37px;
    background-image: url("../images/dice.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 90%;
}
header h1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    font-size: 37px;
    color: white;
    border: 1px solid white;
}

header nav {
    margin: 7px 0;
    display: block;
}

header nav ul {
    display: flex;
    padding: 4px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    font-size: 1.41vw;
}
header nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 10px;  
} 

/* hero section*/
.hero {
   background-image: url("../images/dice.jpg");
   background-size: cover;
   margin-bottom: 12px;
   background-position: bottom;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
   background-attachment: fixed;
   background-position: 90%;
  
}


.hero-title {
    border: 1px solid white;
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    font-size: 23px;
    text-align: center;
    margin: 17%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.99);
    font-style: italic;
    bottom: 0px;
}

/* "About Me" section */
.bw-h2 {
    font-size: 2vw;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 20%;
    margin: 100px 0;
    border-radius: 0px 10px 10px 0px;
}
.about-me p {
    display: flex;
    margin: 0px 40px;
    font-size: 1vw;
    justify-content: left;
    width: 80%;
    flex-wrap: wrap;
}

/* "Work" section */
.img-container {
    float: right;
    width: 25%;
    padding: 5px; 
    box-sizing: border-box;
    position: relative;
  }

  .img-container div {
    border: 1px solid black;
    width: 60%;
    position: absolute;
    bottom: 0;
    color: black;
    background: white;
    position: absolute;
    font-size: .7vw;
 }

.resize {
    width: 36%;
    margin: 0 auto;
    position: relative;
}

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .resize div {
    border: 1px solid black;
    width: 30%;
    position: absolute;
    bottom: 0;
    color: black;
    background: white;
    font-size: .8vw;
  }
   

/* "Contact Me" section */
.contact {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 100px auto ;
    
    
}
.phone h4 {
    font-size: 25px;
    border: solid 2px greenyellow;
    padding: 5px;
}

/* Different screen sizes */
@media screen and (max-width: 980px) {
    header h1 {
        width:100%;
        justify-content: center;
        border-bottom: 3px solid;
        text-align: center;
        margin: 0 auto 35px auto;
        width: 50%;

    }
    header nav {
        width: 100%;
    }
    header nav ul {
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .bw-h2 {
        font-size:30px;
    }
    .about-me p {
        font-size: 15px;
    }
    .top-project {
        position: relative;
        padding: 12%;
        width: 80%;
        
    }
    .top-project div {
        position: absolute;
        left: 0px;
        top: 50%;
        font-size: 15px;
        width: 15% ;
    }
    
    .projects{
        width: 100%;
        position: relative;
    }
  
    

}


@media screen and (max-width: 768px) {

    /* Header adjustments */
    header h1 {
        margin: 20px auto;
        padding: 15px 20px;
        width: 35%;
        font-size: 36px;
    }
    header nav ul li a{
        font-size: 19px;
        padding: 0 30px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 5px;
        margin: 0px 14px;
    }
    .bw-h2 {
        width: 25%;
    }
}
@media screen and (max-width: 575px) {

    /* Header adjustments */
    header h1 {
       margin: 25px;
       padding: 9px 20px;
       width: 100%;
       font-size: 30px;
       border: 1px black solid;
    }
    header nav ul li a{
        font-size: 12px;
        padding: 0 5px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-weight: bold;
        border-radius: 5px;
        margin: 0px 3px;
    }
}
